<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.StatusSaver"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8553911388603017~3170772403" />

        <activity
            android:name=".Activities.CapturePortraitQRActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.ChatsViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ChatsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SavedVideoViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SavedImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SubscriptionActivity"
            android:exported="false" >
            <meta-data
                android:name="com.android.billingclient.api.BILLING_VERSION"
                android:value="6.1.0" />

        </activity>

        <activity
            android:name=".Activities.BusinessStatusActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SavedStatusActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.QRScannerActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AudioActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DocumentActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ImageActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.WhatsDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DirectChatActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainFeaturesActivity"
            android:exported="false"/>
        <activity
            android:name=".Activities.WebViewActivity"
            android:exported="false" />


        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />

        <service
            android:name=".Utils.FileObserverService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".Utils.NotificationListenService"
            android:exported="false"
            android:label="Notification Listener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>